/* font-family: 'Open Sans', sans-serif; */

/*======================== header part css start=============================== */

#header {
  margin-top: 50px;
}
.nav-title h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #000;
  margin-top: 10px;
  margin-left: 50px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 25px;
}
nav li a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.main-nav {
  padding-left: 1000px;
  margin-top: -60px;
}
/*======================== header part css end=============================== */

/*======================== banner part css start=============================== */
section {
  display: flex;
}
.first-banner {
  margin-top: 150px;
}
.banner {
  width: 50%;
  padding-left: 5%;
}
.banner h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.banner p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.banner img {
  width: 92%;
  border-radius: 25px;
}
.banner_button {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: 2s;
}
.banner_button:hover {
  color: whitesmoke;
  padding: 10px 40px;
  background-color: #e02c6d;
  border-radius: 5px;
}
/*======================== banner part css end=============================== */

/*======================== logos part css end=============================== */
#main-logo {
  margin-top: 80px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.logo-class {
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 92%;
}
.logo-class img {
  height: 40px;
}
/*======================== logos part css end=============================== */

/*======================== Collection part css end=============================== */
#populer {
  margin-top: 80px;
  margin-bottom: 80px;
}
.collection-title h3 {
  margin-left: 500px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 30px;
}
.collection {
  margin: 50px 210px;
}
.collection-items {
  margin-left: 35px;
  background-color: wheat;
  padding: 15px 15px;
  border-radius: 10px;
}
.collection-items h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
.collection-items h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: -15px;
}
.icon {
  margin-top: -30px;
  transition: 2s;
}
.icon:hover {
  color: #e02c6d;
}
.collection-items p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.collection_button {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-left: 650px;
  transition: 2s;
}
.collection_button:hover {
  color: whitesmoke;
  padding: 10px 40px;
  background-color: #e02c6d;
  border-radius: 5px;
}
/*======================== Collection part css end=============================== */

/*======================== Featured part css start=============================== */
.featured {
  margin-top: 150px;
  margin-bottom: 100px;
}
.featured-items {
  width: 100%;
  margin-left: 50px;
}
.featured-text {
  margin-left: 100px;
}
.featured-text h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.featured-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.featured-items img {
  width: 100%;
  border-radius: 25px;
}
.featured_button {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: 2s;
}
.featured_button:hover {
  color: whitesmoke;
  padding: 10px 40px;
  background-color: #e02c6d;
  border-radius: 5px;
}
/*======================== Featured part css end=============================== */

/*======================== upcoming part css end=============================== */
.upcoming-title {
  margin-left: 400px;
  margin-bottom: 20px;
}
.upcoming-title h4 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #000;
}
.upcoming-items {
  margin-left: 90px;
  background-color: wheat;
  padding: 15px 15px;
  border-radius: 10px;
}
.upcoming-items img {
  width: 100%;
}
.upcoming-items h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #000;
}
.upcoming-items h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-top: -20px;
  margin-bottom: 10px;
}
/*======================== upcoming part css end=============================== */

/*======================== footer part css end=============================== */
#footer {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0b0827;
}
.footer-item h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  margin-left: 600px;
}
.footer-item h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin-left: 565px;
  margin-top: -25px;
}
.footer-item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: white;
  margin-top: -25px;
  margin-left: 660px;
  margin-top: -40px;
}
.footer-icon {
  margin-left: 655px;
  color: #fff;
}
.footer-icon i {
  font-size: 15px;
  padding: 10px 10px;
  background-color: rgba(209, 171, 171, 0.74);
  border-radius: 50%;
}
/*======================== footer part css end=============================== */
